/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    gap: 20px;
}

button {
    box-sizing: border-box;
    border-radius: 8px;
    border: 0px solid;
    font-weight: 900;
    width: 118px;
    padding: 5px 20px;
}

button,
.call-to-action {
    background-color: #3882F6;
    color: white;
}

a {
    text-decoration: none;
}

a,
.header-secondary-text {
    color: #E5E7EB;
    font-size: 18px;
}

.header {
    color: #F9FAF8;
    padding: 0px;
    margin: 0px;
}

.navigation-bar,
.title,
.footer {
    width: 100%;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.header-logo-text {
    font-weight: 900;
    font-size: 24px;
    margin-right: 500px;
    flex-shrink: 0;
}

.navigation-bar {
    height: 40px;
    margin: 0px;
    padding: 10px 0px;
    gap: 10px;
}

.logo {
    width: auto;
    height: 25px;
    flex-shrink: 0;
}


.header-main-text {
    font-size: 48px;
    font-weight: 900;
}

.title {
    padding: 80px 0px;
    gap: 50px;
}

.title-and-description {
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.title-image {
    width: auto;
    height: 450px;
    transform: scaleX(-1);
}

.information {
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-header {
    box-sizing: border-box;
    width: 800px;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin: 50px 0px;
}

.cards {
    box-sizing: border-box;
    width: 800px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-img {
    box-sizing: border-box;
    width: 170px;
    height: 155px;
    padding: 10px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.info-text {
    width: 170px;
    font-size: 18px;
    font-weight: 350;
    text-align: center;
    margin-top: 10px;
}

.quote-section {
    width: 100%;
    background-color: #E5E7EB;
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    display: flex;
    flex-direction: column;
}

.quote-text,
.author {
    color: #1F2937;
    font-size: 36px;
    margin: 0px;
}

.quote-text {
    width: 700px;
    font-style: italic;
    font-weight: 300;
}

.author {
    width: 100%;
    font-weight: 900;
    text-align: right;
    margin-top: 10px;
}

.call-to-action {
    padding: 0px 100px;
    margin: 100px 0px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 100px;
}

.call-to-action-text {
    width: 550px;
    display: flex;
    flex-direction: column;
}

.action-text1 {
    font-weight: 900;
    margin: 40px 0px 5px;
}

.action-text2 {
    margin: 0px 0px 40px;
}

.action-button {
    border: 2px solid white;
    flex: 1;
}

.footer {
    color: #E5E7EB;
    padding: 20px 0px;
}